<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.dao.IShopIdRankTimeScoreDao">


	<!-- 添加单条记录 -->
	<insert id="add" parameterType="com.dianping.model.ShopIdRankTimeScoreEntity" >
		insert
			 into 
		t_shopId_rankTime_score
			 (shopId,rankTime,score,coolingScore,modifyTime)
		 values
		    (#{shopId},#{rankTime},#{score},#{coolingScore},#{modifyTime})

	</insert>
	
	
	
	<update id="update" parameterType="com.dianping.model.ShopIdRankTimeScoreEntity">
		update t_shopId_rankTime_score
		<trim prefix="SET" suffixOverrides=",">
			modifyTime = now(),
			<if test="rankTime !=null and rankTime !=''">
				rankTime = #{rankTime},
			</if>
			<if test="score !=null and score !=''">
				score = #{score},
			</if>
			<if test="coolingScore !=null and coolingScore !=''">
				coolingScore = #{coolingScore},
			</if>
		</trim>
		where shopId = #{shopId}
	</update>
	
	
	<select id="findByShopId" parameterType="String" resultType="com.dianping.model.ShopIdRankTimeScoreEntity">
		select * from t_shopId_rankTime_score where shopId = #{shopId}
	</select>
	
	
	
	<select id='findNewCooling' resultType="com.dianping.model.RankShopInfo" parameterType="java.util.Map" >
		
		SELECT  tdd.`name` as categoryId,r.shopId,t.shopName,t.refinedScore1,t.refinedScore2,t.refinedScore3,t.address,t.defaultPic,t.avgPrice,t.url
		FROM (
		SELECT shopId,MAX(rankTime)as MaxTime,count(shopId) as num,categoryId 
		      FROM t_rank_shop
		      GROUP BY shopId
		) r
		inner JOIN t_rank_shop t
		ON t.shopId = r.shopId AND t.rankTime = r.MaxTime
		LEFT JOIN t_dic_data tdd on tdd.code=r.categoryId
		where t.refinedScore1>8
		<if test="category!=null and category!=''">
			and t.categoryId = #{category}
		</if>
		<if test="start!=null and start!=''">
			and t.avgPrice &gt;= #{start,jdbcType=DOUBLE}
		</if>
		<if test="end!=null and end!=''">
			and t.avgPrice &lt;= #{end,jdbcType=DOUBLE}
		</if>
		GROUP BY (r.shopId)
		ORDER BY r.num desc
		
	</select>
	
	
</mapper>